// General Layout

.theme-color {
  background-color: var(--theme-color, white);
  color: var(--theme-text-color, black);
}

html,
body {
  margin: 0 auto;
  font-family: "Hind", sans-serif;
  scroll-behavior: smooth;
  @apply w-full h-screen overflow-x-hidden theme-color;
}

a {
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Old versions of Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus {
  outline: none;
}

li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  @apply mx-auto max-w-screen-lg;
}

.div-flex {
  @apply flex flex-wrap justify-center mx-auto;
}

.shadow-model {
  -webkit-box-shadow: 2px 2px 5px 0px $primary-shadow;
  -moz-box-shadow: 2px 2px 5px 0px $primary-shadow;
  box-shadow: 2px 2px 5px 0px $primary-shadow;
}

.shadow-model1 {
  -webkit-box-shadow: 5px 5px 20px 0px $secondary-shadow;
  -moz-box-shadow: 5px 5px 20px 0px $secondary-shadow;
  box-shadow: 5px 5px 20px 0px $secondary-shadow;
}

.shadow-filter {
  -webkit-filter: drop-shadow(5px 5px 15px $secondary-shadow);
  filter: drop-shadow(5px 5px 15px $secondary-shadow);
}

.blur-filter {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

// Spesific Layout
.hero-section {
  background-image: linear-gradient(
    270deg,
    $primary-blue,
    $secondary-blue,
    $primary-blue
  );
  @apply relative flex flex-col justify-center;
  height: calc(100vh - 60px);

  .hero-pattern {
    width: 300px;
    height: 100px;
    background-size: 180px;
    background: url("/image/pattern.webp");
    @apply absolute top-0 right-0 bg-right-top bg-no-repeat;
  }

  .hero-image {
    @apply flex w-full justify-center items-center;

    img {
      @apply w-32 animate__animated animate__zoomIn;
    }
  }

  .hero-desc {
    @apply w-full flex flex-col items-center text-white p-5;

    .title {
      @apply animate__animated animate__fadeIn animate__delay-1s mt-2 mb-3;
    }

    .name {
      @apply text-xl animate__animated animate__fadeIn animate__delay-1s;
    }

    .desc {
      @apply text-center text-xs animate__animated animate__fadeIn animate__delay-1s;
    }
  }

  .hero-btn {
    @apply animate__animated animate__fadeIn animate__delay-1s;
  }
}

.menubar {
  @apply fixed bg-white w-full bottom-0 z-10;
  height: 60px;

  ul {
    @apply flex items-center h-full w-full py-5 px-2 justify-between;
    border-top: 1px solid $secondary-shadow;
    li img {
      width: 65px;
      padding: 5px 15px;
    }

    li:hover {
      @apply shadow-filter cursor-pointer;
      transform: scale(1.1);
    }
  }
}

.content-wrapper {
  @apply relative min-h-screen;

  .content-bg {
    @apply absolute top-0;
    right: 5px;
    width: 200px;
    height: 200px;
    opacity: 0.1;
  }

  .icon-blog {
    background: url("/image/dialogue.svg");
    @apply bg-right-top bg-no-repeat;
    background-size: 120px;
  }

  .icon-portofolio {
    background: url("/image/gallery.svg");
    @apply bg-right-top bg-no-repeat;
    background-size: 120px;
  }
  .icon-labs {
    background: url("/image/flasks.svg");
    @apply bg-right-top bg-no-repeat;
    background-size: 120px;
  }
  .icon-contact {
    background: url("/image/drink.svg");
    @apply bg-right-top bg-no-repeat;
    background-size: 120px;
  }

  .content-body {
    border-radius: 20px;
    padding: 20px;
    min-height: 600px;

    .title {
      @apply text-4xl font-bold inline;
      color: $primary-blue;

      &::before {
        @apply mr-3 text-3xl;
        content: "🌕";
      }
    }

    .desc {
      @apply mt-3 text-xs;
    }
  }
}

.article {
  @apply overflow-hidden w-full;
  .article-image {
    @apply w-full;
    img {
      @apply w-full h-full object-cover;
    }
  }
  .article-body {
    @apply w-full flex flex-wrap flex-col pt-5;
    .article-title {
      @apply text-2xl theme-color;
    }
    .article-capiton {
      @apply italic;
    }
    .article-detail {
      @apply flex flex-wrap  mt-5;
      color: $primary-blue;
      span {
        @apply chip theme-color text-xs;
      }
      i {
        @apply mr-2 text-xs;
      }
    }
  }
}

.portofolio-section {
  @apply div-flex mt-5;
  .portofolio-image {
    @apply relative overflow-hidden w-full;

    .bg {
      @apply hidden;
    }

    img {
      max-height: 300px;
    }
  }

  .portofolio-content {
    @apply w-full;

    h2 {
      @apply text-3xl font-bold;
    }

    h3 {
      @apply text-2xl;
    }

    h4 {
      @apply mt-5 mb-2;
    }

    .portofolio-desc {
      @apply text-base italic;
      color: $primary-grey;
    }

    .web {
      @apply text-blue font-bold text-base;

      &::before {
        @apply mr-2;
        content: "\01F310";
      }
    }
  }
}

.theme-button-text {
  @apply hidden;
}

.blog-wrapper {
  @apply pt-24 theme-color;

  .blog-header {
    @apply w-full text-center;

    .title {
      @apply text-2xl font-bold p-3;
    }
    .desc {
      @apply text-sm;
    }

    img {
      @apply pt-2 pb-2 w-full h-64 object-cover;
    }
  }
  .blog-body {
    @apply p-5 text-lg pb-24;

    .lazy-code {
      @apply text-sm text-black bg-gray-300 p-5 mb-2;
      max-width: 100%;
      overflow-x: hidden;
    }

    & div > p > code {
      @apply p-1 pl-5 mt-5 mb-5 block text-base;
      border-left: 3px solid;
    }

    .hljs {
      @apply mt-5 mb-5 text-sm;
    }

    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-4xl;
    }

    h3 {
      @apply text-3xl;
    }

    ul {
      list-style: inside;
    }

    hr {
      @apply mt-2 mb-5;
    }

    table {
      @apply mt-5 mb-5;
      width: 100%;

      th {
        border: 1px solid;
      }

      tr {
        td {
          @apply p-2;
          border: 1px solid;
        }
      }
    }
  }
}

.maintenance {
  background: url("/image/maintenance.webp");
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: 320px;
  background-repeat: no-repeat;
}

.general-footer {
  @apply hidden;
}

.menu-blog {
  @apply flex items-center p-5 fixed z-10 theme-color w-full;
}

// Screen Medium Configuration
@screen md {
  .hero-section {
    @apply min-h-screen;
    .hero-image {
      @apply w-1/2;
      img {
        @apply w-full max-w-sm;
      }
    }
    .hero-desc {
      @apply w-1/2 items-start justify-center;

      .name {
        @apply text-5xl;
      }

      .desc {
        @apply text-base text-left;
      }
    }
  }

  .menubar {
    @apply rounded-lg shadow-model;
    width: 70px;
    height: 300px;
    top: 50%;
    transform: translateY(-50%);

    ul {
      @apply justify-center flex-col;
      padding: 20px 0px;
      li img {
        width: 50px;
        padding: 10px 0px;
      }
    }
  }

  .article {
    .article-image {
      @apply w-1/4;
    }
    .article-body {
      @apply w-3/4 p-6;

      .article-title {
        @apply text-3xl;
      }
    }
    &:hover {
      @apply shadow-model1;
    }
  }

  .content-wrapper {
    .content-body {
      .desc {
        @apply text-base mt-6;
      }
    }
  }

  .portofolio-section {
    @apply w-full;
    .portofolio-image {
      @apply w-3/5;

      .bg {
        @apply flex justify-between items-center blur-filter block h-full;
      }

      img {
        @apply object-cover absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .portofolio-content {
      @apply w-2/5  p-5;

      .web {
        @apply text-blue font-bold text-lg;
      }
    }
  }

  .general-footer {
    border-top: 1px solid;
    @apply fixed bottom-0 w-full border-gray-400 block theme-color;
    font-size: 0.9rem;
    padding: 5px 5px;

    p {
      display: block;
      padding: 0;
      margin: 0;
      text-align: center;

      span {
        color: red;
      }
      a {
        text-decoration: underline;
      }
    }
  }

  .theme-button-text {
    @apply inline;
  }

  .blog-wrapper {
    .blog-header {
      .title {
        @apply text-4xl;
      }
      .desc {
        @apply text-xl;
      }

      img {
        height: 400px;
      }
    }

    .blog-body {
      @apply text-xl;
    }
  }
}
